@import "../css/light-theme/light-style.scss"; //light-theme import

@font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto-Bold.ttf");
    font-weight: 700;
}

.fallout {
    $link-hover-color: rgba(255, 255, 255, 0.562);
    $main-font-color: rgba(6, 255, 6, 0.5);
    $main-bg-color: rgba(31, 31, 31, 1);

    color: $main-font-color;
    background-color: $main-bg-color;

    a:hover {
        color: $link-hover-color;
    }

    //==========HEADER===========
    $header-font-color: rgba(255, 255, 0, 0.82);

    .header-container {
        background-image: url("../assets/images/decorative/header-bg.png");
    }

    .nav-list {
        color: $header-font-color;
    }
    
    .nav-item {
        background-image: url("../assets/images/decorative/header_btn_bg.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    
    .nav-link {
   
        &::before {
            content: url("../assets/images/decorative/header-btn-indicator.png");
        }
    
        &:hover::before {
            content: url("../assets/images/decorative/header-btn-indicator-light.png")
        }
    }
    
    //==========MAIN=============    
    .switch-to-normal-btn {
        color: $main-font-color;
    
        &::before {
            background-color: $main-font-color;
            border-color: $main-font-color;
            outline-color: $main-font-color;
        }
    }
    
    .main-container {
        border: 40px solid $main-bg-color;
        border-image-source: url("../assets/images/decorative/screen-bg-img.png");
        border-image-slice: 30 19 38 32;
        border-image-repeat: stretch repeat;
    }
    
    //========ABOUT============
    
    .about-section {
        scrollbar-color: $main-bg-color;
    
        &::-webkit-scrollbar {
            width: 8px;
            background-color: $main-bg-color;
    
            &-thumb {
                background-color: $main-font-color;
                border: 1px solid transparent;
                border-radius: 5px;
            }
        }
    }
    
    //=======CODE-EXAMPLE========
    
    .code-example {
        scrollbar-color: $main-bg-color;
    
        &::-webkit-scrollbar {
            background-color: $main-bg-color;
    
            &-thumb {
                background-color: $main-font-color;
            }
        }
    }
    
    //=========FOOTER============
    
    .footer-container {
        background-image: url("../assets/images/decorative/footer-bg-alternative.jpg");
    }

}

$main-font-size: 23px;
$main-line-height: 1.4;

:root {
    scroll-behavior: smooth;
    font-size: $main-font-size;
    line-height: $main-line-height;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Roboto", sans-serif;
}

a {
    color: inherit;
}

.container {
    box-sizing: border-box;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

//==========HEADER===========

.nav-list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
    font-size: 1.5rem;
    list-style: none;
    font-weight: 700;
}

.nav-item {
    position: relative;
}

.nav-link {
    padding: 0 10px;
    line-height: 40px;
    text-decoration: none;
    color: inherit;

    &::before {
        position: relative;
        height: 17px;
        width: 17px;
        padding-right: 10px;
    }
}

//==========MAIN=============
$main-container-gap: 20px;

.switch-to-normal-btn {
    position: absolute;
    top: 120px;
    right: 100px;
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;

    &::before {
        content: "";
        position: absolute;
        top: -65px;
        left: 50%;
        transform: translateX(-50%);
        width: 20px;
        height: 20px;
        background-clip: content-box;
        padding: 20px;
        border: 2px solid transparent;
        border-radius: 50%;
        outline: 2px solid transparent;
        outline-offset: -12px;
    }
}

.main-container {
    position: relative;
    display: flex;
    gap: $main-container-gap;
    flex-wrap: wrap;
    border: 40px solid transparent;
}

.section {
    width: calc(50% - $main-container-gap);
}

//========PROFILE============

.profile-content-wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.profile-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.main-heading {
    font-size: 52px;
    letter-spacing: 3px;
}

.subtitle {
    margin-top: 0;
    text-transform: capitalize;
    font-size: 34px;
}

.my-pic {
    order: 1;
    max-width: 100%;
    flex-shrink: 1;
}

.my-pic-light{
    order: 1;
    max-width: 100%;
    flex-shrink: 1;
}

//========CONTACTS===========

.contact-section {
    align-self: center;
}

.about-section {
    overflow: auto;
    max-height: 80vh;

    scrollbar-width: thin;

    &::-webkit-scrollbar {
        width: 8px;

        &-thumb {
            border: 1px solid transparent;
            border-radius: 5px;
        }
    }
}

//=======CODE-EXAMPLE========

.code-example {
    overflow-x: auto;
    scrollbar-width: thin;

    &::-webkit-scrollbar {
        height: 8px;

        &-thumb {
            border: 1px solid transparent;
            border-radius: 5px;
        }
    }
}

//=========FOOTER============

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}

//======MEDIA-QUERIES========

@media (max-width: 680px) {
    $h1-margin-top: 50px;

    .section {
        width: 100%;
    }

    .profile-section {
        margin-top: $h1-margin-top;
    }

    .switch-to-normal-btn {
        top: 50px;
        right: auto;
        left: 50%;
        transform: translateX(-62%);
    }
}